@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    --background-color: #eee;
    --border-color: #000;
    --header-footer-color: #ddd;
    --button-color: #f1c40f;
    --button-hover-color: orange;
    --footer-text: #444;
}
li {
    list-style: none;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
.wrapper {
    position: relative;
    margin: 15px;
    margin: 0 auto;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }