.footer {
    background-color: var(--header-footer-color);
    padding: 30px;
    margin-top: 15px;
}
.footer__list {
    display: flex;
    justify-content: flex-end;
}
.footer__list-item {
    padding-left: 10px;
} 
.footer__text {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--footer-text);
}

@media (max-width: 450px) {
    .footer__list {
        justify-content: center;
        font-size: 10px;
    }
    .footer__text  {
        justify-content: center;
        font-size: 7px;
    }
}