header {
    position: sticky;
    top: 0;
    /* padding: 0px 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-footer-color);
}
.header-logo {
    max-width: 300px;
    max-height: 100px;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.navigation-list__item{
    padding-left: 30px;
}
@media (max-width: 800px) {
    .navigation-list__item {
        font-size: 16px;
    }
    .navigation-list {
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
    }
}
 @media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
      }
    .header-logo {
      margin: 8px auto 0; 
      width: 100%;
    }
    .navigation-list {
      padding: 15px 0;
      text-align: center;
    }
} 
@media (max-width: 400px) {
    .navigation-list {
        font-size: 13px;
    }
    .header-logo {
        margin: auto;
    }
}