.news {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.news__title {
    padding-bottom: 25px;
}